<!DOCTYPE HTML>
<html>
<head>
    #parse("layout/header.vm")
	<title>用户信息</title>
</head>
<body>
<div class="warp">
	<div class="g-main">
		<div>
			<div class="top-title">
				<span class="arw-d"></span>
				<h2 class="tt">用户信息管理</h2>
			</div>
			<!--搜索查询模块-->
			<form action="/boss/ypayment/user/userInfo/list.html"
				method="post">
				#csrfInputHidden()
				<ul class="m-query">
					<li class="item-box fn-clear">
						<div class="item">
							<label class="lab">用户id：</label> <input type="text"
								name="search_EQ_userId" value="$!{param.EQ_userId}"
								class="ipt w130" />
						</div>
						<div class="item">
							<label class="lab">用户名：</label> <input type="text" 
							    name="search_EQ_userName" value="$!{param.EQ_userName}" 
							    class="ipt w130" />
						</div>
						<div class="item">
							<label class="lab">身份证号：</label> <input type="text"
								name="search_EQ_certNo" value="$!{param.EQ_certNo}"
								class="ipt w130" />
						</div>
					</li>
					<li class="item-box fn-clear">
						<div class="item">
							<label class="lab">真实姓名：</label> 
							<input type="text"
								name="search_EQ_realName" value="$!{param.EQ_realName}"
								class="ipt w130" />
						</div>
						
						<div class="item">
							<label class="lab">用户类型：</label> 
							<div class="jqtransform jqtransform-select3 fn-left">
    							<select 
    							    name="search_EQ_customerType" 
    								class="ipt w130">
    								<option value="">请选择</option>
    								#foreach($!data in $!{userTypeEnum}) 
    									<option value="$!{data}" 
    									#if($!{param.EQ_customerType}==$!{data})
    									selected="selected"
    									#end
    									>$!{data.message}</option>
    								#end
    							</select>
                            </div>
						</div>
						<div class="item">
							<label class="lab">状态：</label> 
							<div class="jqtransform jqtransform-select3 fn-left">
    							<select 
    							    name="search_EQ_status" 
    							    class="ipt w130">
    								<option value="">请选择</option>
    								#foreach($!data in $!{userStatusEnum}) 
    									<option value="$!{data}" 
    									#if($!{param.EQ_status}==$!{data})
    									selected="selected"
    									#end
    									>$!{data.message}</option>
    								#end
    							</select>
                            </div>
						</div>
					</li>
					
					<li class="item-box fn-clear">
						<div class="item time-item">
							<label class="lab">创建时间：</label>
							<div class="f-time">
								<input type="date" name="search_GTE_rawAddTime" class="ipt"
									value="$!{param.GTE_rawAddTime}"/>
							</div>
							<span class="to">-</span>
							<div class="f-time">
								<input type="date" name="search_LTE_rawAddTime" class="ipt"
									value="$!{param.LTE_rawAddTime}"/>
							</div>
						</div><input type="submit" class="u-btn u-btn-green" style="height:32px;" value="搜索">
						<a href="/boss/ypayment/user/userInfo/list.html" class="u-btn u-btn-green">刷新</a>
					</li>
				</ul>

				<table class="m-table" cellpadding="0" cellspacing="0"
					width="100%">
					<tr>
						<th>&nbsp;</th>
						<th>用户名<br/>用户id</th>
						<th>手机号</th>
						<th>身份证号</th>
						<th>真实姓名</th>
						<th>用户类型</th>
						<th>状态</th>
						<th>创建时间</th>
						<th>操 作</th>
					</tr>
					#foreach($!data in $!{pageList.pageResults})
					<tr>
						<td></td>
						<td>$!{data.userName}<br/>$!{data.userId}</td>
						<td>$!{data.mobilePhoneNumber}</td>
						<td>$!{data.certNo}</td>
						<td>$!{data.realName}</td>
						<td>$!{data.customerType.message}</td>
						<td>$!{data.status.message}</td>
						<td>$!{dateUtil.simpleFormat($data.rawAddTime)}</td>
						<td><a href="/boss/ypayment/user/userInfo/show.html?id=$!{data.id}">详情</a></td>
					</tr>
					#end
				</table>
				#parse("layout/pageList.vm")
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
    seajs.use($_GLOBAL.mode +'demo');
</script>
</body>
</html>
