<div class="header mt30" style="background:none;">
   <div class="con1000 fn-clear">
        <a href="#" class="logo">
             <img src="$static_url/images/home/logo2.gif"  class="vm" alt="易极付 易支付 极安全" />
             <em class="reg vm mt10">收银台</em>
        </a>
   </div>
</div>