<!DOCTYPE HTML>
<html>
<head>
    #parse("layout/header.vm")
	<title>缴费绑定详情</title>
</head>
<body>
<div class="warp">
	<div class="g-main">
		<div>
			<div class="top-title">
				<span class="arw-d"></span>
				<h2 class="tt">缴费绑定信息管理-详情</h2>
			</div>
			<div class="m-state">
				##
				<h4 class="tt">绑定信息：</h4>
			</div>
			<table class="m-table2 m-table-c" cellpadding="0" cellspacing="0"
				width="80%">
				<tr>
					<td>用户id：$!{paymentBindingInfo.userId}</td>
					<td>用户名：$!{paymentBindingInfo.userName}</td>
				</tr>					
				<tr>
					<td>缴费签约号：$!{paymentBindingInfo.contractNo}</td>
					<td>用户卡号：$!{paymentBindingInfo.userCode}</td>
					
				</tr>
				<tr>
				    <td>资源代码：$!{paymentBindingInfo.resourceCode}</td>
					<td>资源名称：$!{paymentBindingInfo.resourceName}</td>
				</tr>
				<tr>
					<td>缴费类型： $!{paymentBindingInfo.paymentType.message}</td>
					<td>状态： $!{paymentBindingInfo.status.message}</td>
				</tr>
				<tr>
					<td>缴费来源： $!{paymentBindingInfo.payFrom}</td>
					<td>备注： $!{paymentBindingInfo.memo}</td>
				</tr>
				<tr>
					<td>创建时间： $!{dateUtil.simpleFormat($paymentBindingInfo.rawAddTime)}</td>
					<td>修改时间：$!{dateUtil.simpleFormat($paymentBindingInfo.rawUpdateTime)}</td>
				</tr>
			</table>

			<div class="bottom-c">
				<a href="javascript:history.back(-1);" class="u-btn u-btn-red">返回</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>